<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
      exercitationem minima aliquid magni voluptas voluptatibus distinctio
      quisquam magnam nostrum consequatur?
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium,
      voluptas?
    </div>
  </div>
</section>
