<section class="block block--dark block-showcase">
    <header>
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
        />
        <img src="images/ipad.png" alt="An image of ipad" />
      </picture>
  <ul class="list">
    <li>
      <div class="media">
        <div class="media__image">
          </svg><svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum corrupti magnam tenetur earum, animi aliquam odio rerum doloribus et?</p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media__image">
          </svg><svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging Git & WP-Cli</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum corrupti magnam tenetur earum, animi aliquam odio rerum doloribus et?</p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media__image">
          </svg><svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Changing & More</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum corrupti magnam tenetur earum, animi aliquam odio rerum doloribus et?</p>
        </div>
      </div>
    </li>
  </ul>
    </div>
  </section>